---
import Github from "./Icons/Github.astro";
import LinkIcon from "./Icons/Link.astro";
interface Project {
  icon: string;
  name: string;
  description: string;
  technologies: string[];
  githubUrl: string;
  url: string;
}

const projects: Project[] = [
  {
    icon: "🍞",
    name: "registry-analyzer",
    description: "Analyzes system logs and scans them.",
    technologies: ["C#", "Virus total API"],
    githubUrl: "https://github.com/amacapozzi/registry-analyzer",
    url: "https://github.com/amacapozzi/registry-analyzer",
  },
  {
    icon: "🦕",
    name: "memory-reader",
    description: "Scans process memory and passes it to string.",
    technologies: ["C#"],
    githubUrl: "https://github.com/amacapozzi/memory-reader",
    url: "https://github.com/amacapozzi/memory-reader",
  },
  {
    icon: "✨",
    name: "github-repo-analysis",
    description: "Analyzes the users github repositories and scans them for anomalies.",
    technologies: ["Typescript", "Virus Total API"],
    githubUrl: "https://github.com/amacapozzi/github-repo-analysis",
    url: "https://github.com/amacapozzi/github-repo-analysis",
  },
  {
    icon: "📝",
    name: "youtube-downloader",
    description: "Download a video from youtube with the URL and convert it to a chosen format.",
    technologies: ["Typescript", "ytdl"],
    githubUrl: "https://github.com/amacapozzi/youtube-video-downloader",
    url: "https://github.com/amacapozzi/youtube-video-downloader",
  },
  {
    icon: "✨",
    name: "react-symbols",
    description: "Symbols Icons for React.",
    technologies: ["Remix", "Typescript", "Turborepo", "Tailwind"],
    githubUrl: "#",
    url: "#",
  },
  {
    icon: "🏆",
    name: "project-hackathon",
    description: "An open-source hackathon management.",
    technologies: ["Next.js", "Tailwind", "tRPC", "Prisma"],
    githubUrl: "#",
    url: "#",
  },
];
---

<section class="w-full my-4 md:my-7">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <div class="p-6  border border-[#262626] rounded-md relative hover:bg-muted/80 transition-colors border-muted overflow-hidden">
          <div class="flex items-start justify-between">
            <div class="space-y-1">
              <div class="flex items-center gap-2">
                <span class="text-2xl">{project.icon}</span>
                <a
                  href={project.url}
                  class="text-lg font-semibold text-white tracking-tighter hover:underline inline-flex items-center gap-2"
                >
                  {project.name}
                  <LinkIcon class="text-neutral-300 w-3 h-3" />
                </a>
              </div>
              <p class="text-sm text-neutral-400">{project.description}</p>
            </div>
            <a
              class="p-1 bg-black/50 border border-gray-600 rounded-full"
              href=""
            >
              <Github class="h-4 w-4 text-neutral-300" />
            </a>
          </div>
          <div class="flex flex-wrap gap-2 mt-4">
            {project.technologies.map((tech) => (
              <span class="px-2 py-1 text-xs rounded-md border font-medium border-[#262626] bg-[#202020] text-neutral-300 tracking-tighter hover:bg-accent transition-colors">
                {tech}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
